/target
.cache/
.prefix/
repodata*.json
pkg/
**/__pycache__/**

# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
